.right-side {
    width: 25%;
    height: 355px;
    margin: 20px 0;
    border-radius: 7px;
    background-color: white;
}
.sponsored-contents h2{
    margin: 20px 20px;
    color: rgb(5, 5, 5);
    font-weight: 700;
}
.sponsored-contents-hashtag h3{
    color: black;
    padding: 10px 20px;
}
.sponsored-contents-hashtag h5{
    color: gray;
    padding: 0px 20px;
    font-weight: 400;
}