.profile{
    display: flex;
    margin-top: 0;
    background: rgb(236,249,255);
background: linear-gradient(0deg, rgba(236,249,255,1) 0%, rgba(236,249,255,1) 48%, rgba(236,249,255,0.7926820386357668) 100%);
}